
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*, *:after, *:before {
	box-sizing: border-box;
}

body {
	font-family: "DM Sans", sans-serif;
	line-height: 1.5;
	background-color: #f1f3fb;
	padding: 0 2rem;
}


input {
	appearance: none;
	border-radius: 0;
}

.card {
	margin: 5rem auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
	max-width: 425px;
	background-color: #FFF;
	border-radius: 10px;
	box-shadow: 0 10px 20px 0 rgba(#999, .25);
	padding: .75rem;
}

.card-heading {
	position: absolute;
	left: 10%;
	top: 15%;
	right: 10%;
	font-size: 1.75rem;
	font-weight: 700;
	color: #735400;
	line-height: 1.222;
	
}

.card-form {
	padding: 2rem 1rem 0;
}

.input {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	padding-top: 1.5rem;
	margin-top: 3rem;
	
}

.input-label {
	color: #8597a3;
	position: absolute;
	top: 0.5rem;
	transition: .25s ease;
	line-height: 1;
}

.input-field {
	border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: 2px solid #eee; 
	font: inherit;
	font-size: 1rem;
	padding: .25rem 0;
	
}

.action {
	margin-top: 1rem;
}

.action-button {
	font: inherit;
	font-size: 1.2rem;
	padding: 0.5em;
	width: 80%;
	font-weight: 500;
	background-color: #6658d3;
	border-radius: 10px;
	color: #FFF;
	margin: 1rem;
	border: 0;
}





